*{
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Star Rating style */
.on{
  background-color: yellow;
}
off{
  background-color: darkgrey;
}
#btn{
  border: none;
  border-radius: 60%;
  color: red;
  font-size: 15px;
  margin: 2px;
  font-weight:bold;
}

.starValue{
  font-size: 13px;
  font-weight: bold;
  margin: 4px 0px 0px 4px;
}

/* Cart Button style */
.cartBtn{
  width: 100px;
  height: 25px;
  text-align: center;
  padding: 2px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
.twoButton{
  display: flex;
  justify-content: space-evenly;
}
.addcart{
background-color: #f77f00;
}
.removecart{
  background-color: #fcbf49;
}
/* outer */
#outer{
  padding: 1px;
  margin-left: 8px;
  margin-top: 15px;
  width: 300px;
  /* height: 320px; */
  max-height: 350px;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid rgb(110, 105, 105);
}
#outer1{
  width: 100%;
  height: 210px;
  background-color: gray;
  position: relative;
  bottom: 19px;
  text-align: center;
}
#inner{
  width:100%;height: 110px;
  
}
/* MenuBar */
.MenuBar{
  background-color: #FCBF49;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.logo{
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}
.cart{
  margin-right: 25px;
  font-size: 16px;

}
.carticon {
  height: 20px; width: 25px;
  background-color: red;
  border-radius: 50%;padding: 2px;
  
}